# Environment example

# RPC providers (optional): if you have API keys for Infura/Alchemy/QuickNode, put them here
VITE_ALCHEMY_API_KEY=
VITE_INFURA_PROJECT_ID=
VITE_QUICKNODE_URL=

# Multicall addresses (optional override)
VITE_MULTICALL_ETHEREUM_ADDRESS=
VITE_MULTICALL_POLYGON_ADDRESS=
